@import './Color.css';
.link_container {
	padding: 1px;
	border-top: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	& .link_alias {
		font-size: 15px;
		padding: 2px 5px;
		border-radius: 3px;
		color: var(--color00);
		width: 200px;
		text-decoration: none;
		transition: 0.2s all;
	}
	& .link_alias:hover {
		background-color: var(--color01);
		color: var(--color03);
	}
	& .link_btn-container {
		& .btn_edit {
			background-color: rgb(255, 214, 127);
		}
		& .btn_delete {
			background-color: rgb(255, 127, 127);
		}
	}
}
@media (width < 1024px) {
	.link_container {
		& .link_alias {
			font-size: 13px;
			width: 190px;
		}
	}
}
@media (width < 600px) {
	.link_container {
		& .link_alias {
			font-size: 11px;
			width: 160px;
		}
	}
}
