@import './Color.css';
.header_contenedor {
	z-index: 10;
	min-width: 380px;
	font-size: 22px;
	color: var(--color03);
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: fixed;
	background-color: var(--color00);
	& .header_titulo-cont {
		display: flex;
		justify-content: center;
		align-items: center;
		& .titulo_icon {
			/*estilo para icono de titulo "S"*/
			color: var(--color02);
			transition: 0.2s all;
		}
		& .titulo_img {
			height: 30px;
			color: var(--color02);
			transition: 0.2s all;
		}
	}
}
.header_contenedor:hover .titulo_icon {
	/*hover para icono de titulo "S"*/
	transform: rotate(90deg);
}
.header-small {
	height: 30px;
	font-size: 15px;
	transition: 0.2s all;
}
/*RELOJ*/
.reloj {
	background-color: #222831;
	position: absolute;
	bottom: -13px;
	right: 50px;
	border: 2px solid var(--color02);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	& div {
		padding: 1px 8px;
		color: var(--color03);
		letter-spacing: 1px;
	}
	& div::after {
		content: ':';
		animation: puntosReloj 2s infinite;
		position: absolute;
		right: 46.2%;
	}
}
@keyframes puntosReloj {
	0% {
		color: rgb(192, 192, 192);
	}
	50% {
		color: rgb(81, 85, 80);
	}
	100% {
		color: rgb(192, 192, 192);
	}
}
.contraste_bg_reloj {
	transition: 0.3s;
	background-color: #91eb55;
	/*background-color: #2e3641;*/
}

@media (width < 1024px) {
	.header_contenedor {
		font-size: 20px;
		height: 45px;
	}
	.header-small {
		height: 25px;
		font-size: 13px;
	}
}
@media (width < 600px) {
	.header_contenedor {
		font-size: 20px;
		height: 40px;
	}
	.header-small {
		height: 23px;
		font-size: 11px;
	}
	.titulo_icon {
		height: 20px;
	}
}
