@import './Color.css';
.header_contenedor {
	z-index: 10;
	min-width: 380px;
	font-size: 22px;
	color: #eeeeee;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: fixed;
	background-color: #222831;
	& .header_titulo-cont {
		display: flex;
		justify-content: center;
		align-items: center;
		& .titulo_icon {
			color: var(--color02);
			transition: 0.2s all;
		}
	}
}
.header_contenedor:hover .titulo_icon {
	transform: rotate(90deg);
}
.header-small {
	height: 30px;
	font-size: 15px;
	transition: 0.2s all;
}
/*RELOJ*/
.reloj {
	background-color: #222831;
	position: absolute;
	bottom: -15px;
	right: 50px;
	border: 1px solid var(--color02);
	border-radius: 14px;
	& div {
		padding: 1px 8px;
		color: var(--color03B);
	}
}
.contraste_bg_reloj {
	transition: 0.3s;
	background-color: #507377;
	/*background-color: #2e3641;*/
}

@media (width < 1024px) {
	.header_contenedor {
		font-size: 20px;
		height: 45px;
	}
	.header-small {
		height: 25px;
		font-size: 13px;
	}
}
@media (width < 600px) {
	.header_contenedor {
		font-size: 20px;
		height: 40px;
	}
	.header-small {
		height: 23px;
		font-size: 11px;
	}
	.titulo_icon {
		height: 20px;
	}
}
