@import './Color.css';
.seccion_container {
	width: 240px;
	padding: 5px;
	margin: 8px;
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 2px 2px 5px var(--color01B);
	transition: 0.3s all;
	& .seccion_titulo {
		font-size: 20px;
		text-align: center;
	}
	& .seccion_btn-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		& .btn_agregar-enlace {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(127, 255, 165);
		}
		& .btn_eliminar-seccion {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(255, 127, 127);
		}
	}
}
& .seccion_container:hover {
	transform: scale(1.02);
	background-color: var(--color02B);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
}

@media (width < 1024px) {
	.seccion_container {
		width: 190px;
		padding: 2px;
		margin: 5px;
		& .seccion_titulo {
			font-size: 16px;
		}
	}
}
@media (width < 600px) {
	.seccion_container {
		width: 160px;
		& .seccion_titulo {
			font-size: 14px;
		}
	}
}
