@import './style/Color.css';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
.app {
	width: auto;
	min-width: 380px;

	background-color: #eeeeee;
	& .contenedor {
		width: 100%;
		height: auto;
		min-height: 100vh;
		padding: 70px 10px 50px 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		flex-wrap: wrap;
	}
}
